*.pyc
__pycache__/
data/
chatbot/bot/.rasa
!chatbot/bot/actions
!chatbot/bot/custom_components
!chatbot/bot/data
!chatbot/bot/functions
!chatbot/bot/test
!chatbot/bot/test
endpoints/transactions/
endpoints/transactions/
chatbot/bot/models
chatbot/model_offload/
.DS_Store
endpoints/users/identification/
