*.pyc
__pycache__/
data/
ml/repos/*
etl/logs/*
chatbot/chatbot/.rasa
!chatbot/chatbot/actions
!chatbot/chatbot/custom_components
!chatbot/chatbot/data
!chatbot/chatbot/functions
!chatbot/chatbot/test
!chatbot/chatbot/test
endpoints/transactions/
endpoints/transactions/
chatbot/chatbot/models
chatbot/model_offload/
.DS_Store
endpoints/users/identification/
