*
!entrypoint.sh
!docker/migrator/job-endpoints-app/
!docker/migrator/job-endpoints-app/**
docker/migrator/job-endpoints-app/logs/


__pycache__/
*.pyc
*.pyo
*.pyd


*.log
*.db
*.sqlite


node_modules/
.env
.git/